*, *::before, *::after, :root, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

